@import "helpers/vars";
@import "components/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $background-color;
  position: relative;
  z-index: 1;
  .crt {
    color: $secondary-color;
  }
}

@media (max-width: 428px) {
  .container {
    padding: 100px 16px 0;
  }
}
